.flashcard-back {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 350px;
  height: 175px;
  background-color: rgb(39, 38, 38);
  color: white;
  padding: 10px;
}